<!DOCTYPE html>
<html>
<head>
  <title>Articles -- All the World's Articles (with a name .com hipsters love)</title>
  <%= stylesheet_link_tag    'application.css' %>
</head>
<body>
	<div id="article_stuff">
	<h1>Articl.es</h1>
	<h2><%= yield :subtitle %></h2>
	<br/>
	<br/>
	
	<ul class="menubar">
		<li><%= link_to "articles", articles_path %></li>
		<li><%= link_to "authors", "#" %></li>
	</ul>

	<%= yield %>
	</div>

</body>
</html>
