<%= content_for :subtitle do %>
... my cousin works for Bit.ly
<%end%>

<ul class = "menu">
	<li>
		<%= link_to image_tag('arrow_left.png'), articles_path, :title => 'Show article list' %>
		<%= link_to 'back', articles_path, :title => 'Show article list' %> 
	</li>
</ul>
	
<h3>Editing "<%=h @article.title %>"</h3>
<br/>

<%= render 'form' %>


